@model List<SkillsMVC.DataLayer.Models.DTO.MovieDTO>
@{
	ViewBag.Title = "Películas mejor valoradas";
}

<h2>Index</h2>

<h1>Películas mejor valoradas</h1>

<div class="row mt-3">
	<form class="col-md-12">
		<div class="form-group row">
			<div class="col-sm-12">

				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="searchIcon"><i class="material-icons">search</i></span>
					</div>
					<input type="text" onkeyup="filterMovies()" class="form-control" id="searchMovies" placeholder="Buscar películas" aria-describedby="Buscar películas">
				</div>
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-md-3">
		<h4>Ordenar por:</h4>
	</div>
	<div class="col-md-9">
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" checked>
			<label class="form-check-label" for="inlineRadio3">Puntuación</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
			<label class="form-check-label" for="inlineRadio1">Título</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
			<label class="form-check-label" for="inlineRadio2">Fecha de estreno</label>
		</div>

	</div>
</div>

<div id="movieList" class="row mt-3 text-center">

	@foreach (var movie in Model)
	{
		<div class="pl-5 col-md-4 movieItem">
			<a href="../Movie/Index?movieId=@movie.MovieId" title="@movie.Title">
				<div class="card text-center mb-4" style="width: 18rem;">
					<div class="card-header">
						#@movie.Position
					</div>
					<div class="wrapper">
						<img class="card-img-top" style="" src="@movie.Image" alt="@movie.Title">
					</div>
					<div class="card-body">
						<h5 class="card-title">@movie.Title</h5>
						<h5 class="card-actor" style="display: none;">@movie.Artist.Name @foreach (var item in movie.Artists)
						{
							@item.Name 
						}</h5>
						<h6 class="card-subtitle mb-2 text-muted">Año: @movie.Year</h6>
						<h6 class="card-subtitle mb-2">Puntuación: @movie.Rating</h6>
						<!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
					</div>
				</div>
			</a>
		</div>
	}

</div>



<!-- Optional JavaScript -->
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styles.css")">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	  rel="stylesheet">
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


<script>

	function filterMovies() {
		// Declare variables
		var input, filter, ul, li, a, i;
		input = document.getElementById('searchMovies');
		filter = input.value.toUpperCase();
		ul = document.getElementById("movieList");
		li = ul.getElementsByTagName('li');

		$("#movieList .movieItem").each(function (index, value) {
			if ($(value).find(".card-title")[0].innerHTML.toUpperCase().indexOf(filter) > -1 || $(value).find(".card-actor")[0].innerHTML.toUpperCase().indexOf(filter) > -1) {
				$(value).css("display", "");
			} else {
				$(value).css("display", "none");
			}
		})
		
		// Loop through all list items, and hide those who don't match the search query
		for (i = 0; i < li.length; i++) {
			a = li[i].getElementsByTagName("a")[0];
			if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
				li[i].style.display = "";
			} else {
				li[i].style.display = "none";
			}
		}
	}

</script>